.bank-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 20px;
}
.bank-modal {
    width: 90%;
    max-width: 350px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    animation: popup 0.2s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.modal-header .close-btn {
    cursor: pointer;
    font-size: 18px;
    padding: 5px
}

.bank-modal input,
.bank-modal select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 12px;
    box-sizing: border-box;
}

.add-bank-btn {
    color: #ff9f43;
    background: white;
    border: 1px solid #ff9f43;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
}
.save-btn {
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 8px;
    background: #ff9f43;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

