.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*header*/
.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  margin-bottom: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 0 16px;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000;
}

.header-logo {
  width: auto;
  object-fit: contain;
  height: 50px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px; /* khoảng cách giữa search và cart */
}

.header-icons {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search-input {
  width: 180px;
  height: 36px;
  padding: 0 12px;
  margin-bottom: 0px;

  border: 1px solid #ddd;
  border-radius: 18px;
  font-size: 14px;
  outline: none;
  animation: slideIn 0.25s ease;
}

.App-link {
  color: #61dafb;
}

/*Nav -bottom */
.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 70px;
  background-color: #fff;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid #e5e5e5;
  z-index: 1000;
}

.nav-bottom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #0E0673;
  font-size: 12px;
}

.nav-bottom-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

/* active state */
.nav-bottom-item.active {
  color: #392EBE;
}

.nav-bottom-item.active img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(87%) saturate(2254%)
  hue-rotate(202deg) brightness(98%) contrast(101%);
}

