.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*header*/
.header {
  position: sticky;
  top: 5px;

  height: 60px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000;
}

.header-logo {
  height: 40px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px; /* khoảng cách giữa search và cart */
}

.header-icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search-input {
  width: 180px;
  height: 36px;
  padding: 0 12px;

  border: 1px solid #ddd;
  border-radius: 18px;
  font-size: 14px;

  animation: slideIn 0.25s ease;
}

/*Nav -bottom */
.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 70px;
  background-color: #fff;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid #e5e5e5;
  z-index: 1000;
}

.nav-bottom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #0E0673;
  font-size: 12px;
}

.nav-bottom-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

/* active state */
.nav-bottom-item.active {
  color: #392EBE;
}
.content {
  padding-top: 60px;
  padding-bottom: 80px;
}
.nav-bottom-item.active img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(87%) saturate(2254%)
  hue-rotate(202deg) brightness(98%) contrast(101%);
}
/*Welcome page*/
.welcome-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.welcome-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Start button */
.start-btn {
  position: absolute;
  bottom: 44px;
  right: 24px;

  width: 84px;
  height: 84px;

  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover / tap effect */
.start-btn:hover {
  transform: scale(1.08);
}

.start-btn:active {
  transform: scale(0.95);
}

